@page
@model WebApp_Exam.Pages.CreateExamModel
@{
    ViewData["Title"] = "Yeni Sınav Oluştur";
}

<form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-floating">
        Yazı seçiniz:
        <select id="drpTitles" class="form-control" asp-for="Input.WiredTextTitle" asp-items="@(new SelectList(Model.WiredTexts, "Text", "Title"))">
            <option value="">--Seçiniz--</option>
        </select>
        <input type="hidden" asp-for="Input.WiredTextTitle" />
    </div>

    <br />

    <div class="row">
        <p id="titleText"></p>
    </div>

    <hr />
    <br />

    <div class="row" id="q1">

        <div class="row">
            Soru 1:
            <input type="text" asp-for="Input.Q1" />
        </div>

        <br />

        <div class="row">
            <div class=col-md-6>
                Cevap A:
                <input type="text" asp-for="Input.A1" style="width:350px" />
            </div>
            <div class=col-md-6>
                Cevap B:
                <input type="text" asp-for="Input.A2" style="width:350px" />
            </div>
        </div>

        <br />

        <div class="row">
            <div class=col-md-6>
                Cevap C:
                <input type="text" asp-for="Input.A3" style="width:350px" />
            </div>
            <div class=col-md-6>
                Cevap D:
                <input type="text" asp-for="Input.A4" style="width:350px" />
            </div>
        </div>

        <br />
        <br />

        <div class="row">
            <div class=col-md-3></div>
            <div class=col-md-6>
                Doğru cevabı seçiniz:
                @Html.DropDownListFor(
                Model => Model.Input.Answer1,
                new SelectList(
                new List<SelectListItem>
                {
                new SelectListItem { Selected = true, Text = "A", Value = "1"},
                new SelectListItem { Selected = false, Text = "B", Value = "2"},
                new SelectListItem { Selected = false, Text = "C", Value = "3"},
                new SelectListItem { Selected = false, Text = "D", Value = "4"}},
                "Value" , "Text", 1),
                new { style="width: 250px"})
            </div>
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="row">
        Soru 2:
        <input type="text" asp-for="Input.Q2" />
    </div>

    <br />

    <div class="row">
        <div class=col-md-6>
            Cevap A:
            <input type="text" asp-for="Input.A5" style="width:350px" />
        </div>
        <div class=col-md-6>
            Cevap B:
            <input type="text" asp-for="Input.A6" style="width:350px" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class=col-md-6>
            Cevap C:
            <input type="text" asp-for="Input.A7" style="width:350px" />
        </div>
        <div class=col-md-6>
            Cevap D:
            <input type="text" asp-for="Input.A8" style="width:350px" />
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class=col-md-3></div>
        <div class=col-md-6>
            Doğru cevabı seçiniz:
            @Html.DropDownListFor(
            Model => Model.Input.Answer2,
            new SelectList(
            new List<SelectListItem>
            {
            new SelectListItem { Selected = true, Text = "A", Value = "1"},
            new SelectListItem { Selected = false, Text = "B", Value = "2"},
            new SelectListItem { Selected = false, Text = "C", Value = "3"},
            new SelectListItem { Selected = false, Text = "D", Value = "4"}},
            "Value" , "Text", 1),
            new { style="width: 250px"})
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="row">
        Soru 3:
        <input type="text" asp-for="Input.Q3" />
    </div>

    <br />

    <div class="row">
        <div class=col-md-6>
            Cevap A:
            <input type="text" asp-for="Input.A9" style="width:350px" />
        </div>
        <div class=col-md-6>
            Cevap B:
            <input type="text" asp-for="Input.A10" style="width:350px" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class=col-md-6>
            Cevap C:
            <input type="text" asp-for="Input.A11" style="width:350px" />
        </div>
        <div class=col-md-6>
            Cevap D:
            <input type="text" asp-for="Input.A12" style="width:350px" />
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class=col-md-3></div>
        <div class=col-md-6>
            Doğru cevabı seçiniz:
            @Html.DropDownListFor(
            Model => Model.Input.Answer3,
            new SelectList(
            new List<SelectListItem>
            {
            new SelectListItem { Selected = true, Text = "A", Value = "1"},
            new SelectListItem { Selected = false, Text = "B", Value = "2"},
            new SelectListItem { Selected = false, Text = "C", Value = "3"},
            new SelectListItem { Selected = false, Text = "D", Value = "4"}},
            "Value" , "Text", 1),
            new { style="width: 250px"})
        </div>
    </div>

    <br />
    <hr />
    <br />

    <div class="row">
        Soru 4:
        <input type="text" asp-for="Input.Q4" />
    </div>

    <br />

    <div class="row">
        <div class=col-md-6>
            Cevap A:
            <input type="text" asp-for="Input.A13" style="width:350px" />
        </div>
        <div class=col-md-6>
            Cevap B:
            <input type="text" asp-for="Input.A14" style="width:350px" />
        </div>
    </div>

    <br />

    <div class="row">
        <div class=col-md-6>
            Cevap C:
            <input type="text" asp-for="Input.A15" style="width:350px" />
        </div>
        <div class=col-md-6>
            Cevap D:
            <input type="text" asp-for="Input.A16" style="width:350px" />
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class=col-md-3></div>
        <div class=col-md-6>
            Doğru cevabı seçiniz:
            @Html.DropDownListFor(
            Model => Model.Input.Answer4,
            new SelectList(
            new List<SelectListItem>
            {
            new SelectListItem { Selected = true, Text = "A", Value = "1"},
            new SelectListItem { Selected = false, Text = "B", Value = "2"},
            new SelectListItem { Selected = false, Text = "C", Value = "3"},
            new SelectListItem { Selected = false, Text = "D", Value = "4"}},
            "Value" , "Text", 1),
            new { style="width: 250px"})
        </div>
    </div>

    <br />

    <div class="row" style="position: relative; height:150px">
        <input type="submit" value="Kaydet" class="btn btn-success" style="width:400px; height:80px; margin: 0; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);" />
    </div>

</form>

<script>

    $(document).ready(
        function() {
            $("#drpTitles").change(
                function(){
                    var wText = $("#drpTitles").find(":selected").val();
                    $("#titleText").html(wText);
                });
        });

</script>