@page
@using WebApp_Exam.Models
@model WebApp_Exam.Pages.HomeModel
@{
    ViewData["Title"] = "Sınavlar";
}

<div class="container">

    <div class="row">
        <h2 class="text-danger">Mevcut Sınavlar</h2>
    </div>

    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Tarih</th>
            <th>Kullanıcı</th>
            <th>İşlem</th>
        </tr>

        @if (Model.Exams != null)
        {
            @foreach (Exam e in Model.Exams)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.WiredText.Title</td>
                    <td>@e.CreatedAt</td>
                    <td>@e.Creator.Username</td>
                    <td><a asp-page="DeleteExam" asp-route-examId="@e.Id">Sil</a></td>
                </tr>
            }
        }

    </table>

</div>